*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 700px;
    margin: 0;
}


.game-container {
    height: 370px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 70px;
    text-align: center;
    width: 300px;
}

h3{
    margin-top: -10%;
    margin-left: 50%;
}

.options{
    display: flex;
    justify-content: space-around;
}

.next-question button{
    color: black;
    font-size: large;
    background-color: green;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px ;
    margin-top: 15%;
}

.options button{ 
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    font-size: large;
}

.options button:hover{
    background-color: gray;
    /* padding: 18px; */
    transition: 0.1s;
}

.next-question button:hover{
    padding: 15px 25px;
    transition: 0.1s;
    font-size: larger;
}
.options button:active{
    padding: 16px;
    background-color: rgb(175, 175, 175);
    transition: 0s;
}

.next-question button:active{
    padding: 12px 18px;
    background-color: rgb(0, 196, 0);
    font-size: large;
    transition: 0s;
}

.over{
    color: red;
}

#score{
    display: inline;
}